@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');
:root {
    --max-width: 1200px;
    --max-height: 600px;
    --font-family: 'inter' , sans-serif;
    --defualt-padding: 20px;
    --background-color: #f0f0f0;
    --border-radius: 6px;
    --animation-timing: .2s;
    --shadow-defualt: 0 0 5px 3px  rgba(0,0,0,.1);

}

* {
    box-sizing: border-box;
}

.container {
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--defualt-padding);
    background-color: var(--background-color);
    min-height: 100vh;
}

.container--isActive .textcontent,
.container--isActive .imgcontent {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
}

.container__content {
    display: flex;
    max-width: var(--max-width);
    padding: calc(var(--defualt-padding) *2);
    box-shadow: var(--shadow-defualt);
    border-radius: var(--border-radius);
    background-repeat: no-repeat;
    background-image: url('../first project/pattern.png');
    background-color: white;
    background-position: bottom left;
}
.textcontent {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(-20px);
    opacity: 0;
    visibility: hidden;
    transition: all 1s;

}

.text_words { 
    display: flex;
    font-size: 28px;
    font-weight: 300;
    line-height: 38px;
    margin-bottom: 10px;
}

.data_container {
    display: flex;
    font-size: 20px;

}

.name { 
    font-weight: 700;
}

.position { 
    font-weight: 500;
    margin-left: 5px;
    color: rgb(22, 22, 22);
}

.sociallinks {
    display: flex;
    align-items: center;
    margin-top: 40px;
    transition: all var(--animation-timing);
}

.sociallinks :hover {
    filter: grayscale(0);
    width: 35px;
    box-shadow: var(--shadow-defualt);
}


.sociallink1 {
    width: 32px;
    margin-right: calc(var (--defualt-padding) / 2);
    filter: grayscale(1);
    border-radius: 50%;
}

.socialimg {
    width: 100%;
}

.imgcontent{
    flex: 1;
    max-width: 540;
    display: flex;
    align-items: center;
    padding: 50px;
    background-size: contain;
    background-position: center;
    background-image: url('../first project/pattern.png');
    background-repeat: no-repeat;
    transform: translateY(20px);
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
    perspective: 1000px;
    
}

.imgcontainer{
    width: 100%;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-defualt);

}


@media ( max-width:760px){
    .container{
        flex-direction: column-reverse;
        padding: 10px;
    }
    .container__content{
        flex-direction: column-reverse;
        height: auto;
        max-height: inherit;
        padding: 20px;
    }
    .textcontent{
        font-size: 22px;
        line-height: 32px;
    }
    .imgcontainer{
        padding: 30px;
        margin: 0 -10px;
    }
    .data_container{
        display: flex;
        flex-direction: column;
    }
    .position{
        margin-left: 0;
        margin-top: 5px;
    }
    .sociallinks{
        filter: grayscale(0);
        width: 35px;
        box-shadow: var(--shadow-defualt);

    }
}






























